.sixthpage-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #d2d2d2; /* Light gray background */
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
  
  .resume-builder-button {
    background-color: #f8d22a; /* Button yellow background */
    color: #000; /* Button text color */
    padding: 15px 25px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .resume-builder-button:hover {
    background-color: #e0b51d; /* Darker yellow on hover */
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  