/* feture box.jsx vale ki css */
.feature-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #e2e2e2;
  text-align: center;
  min-width: 367px;
  height: 78px;
  

  .feture-content{
    h3{
      font-size: 1.3rem;
      color: #303030;
    }
    p{
      font-size: 0.8rem;
    }
  }
  }
  
  .feature-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  
  .feature-box h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .feature-box p {
    font-size: 0.9rem;
    color: #666;
  }

/* seventhpage.jsx ki css --------------------------------------------------------------------------------------------------------------------------------*/

.main-page {
    padding: 40px;
    background-color: #a0a0a0; /* Light gray background */
  }
  
  .content {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
  }
  
  .content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }
  
  .features-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
  }
  
  .resume-builder-button {
    background-color: #f8d22a; /* Button yellow background */
    color: #000; /* Button text color */
    padding: 15px 25px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .resume-builder-button:hover {
    background-color: #e0b51d; /* Darker yellow on hover */
  }
  
  