.footer {
  background: #1c1c1c;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 20px 0;
}
.footer-section h1{
  color:  #f7c01b;

}
.footer-section span{
  color: rgb(226, 226, 213);
}

.footer-section h2 {
  position: relative;
  margin-bottom: 10px;
  text-align: left;
  color: rgb(226, 226, 213);
}

.footer-section .underline {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #f7c01b;
  margin-top: 5px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section.subscribe form {
  display: flex;
  flex-direction: column;
}

.footer-section.subscribe input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  flex: 1;
}

.footer-section.subscribe button {
  padding: 10px 20px;
  background: #f7c01b;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-section.subscribe button:hover {
  background: #e0ac1c;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 20px;
}
.footer-bottom span{
  color: #f7c01b;
}

.footer-terms {
  margin-top: 10px;
}

.footer-terms a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-terms a:hover {
  color: #f7c01b;
}

.socials {
  margin-top: 20px;
}

.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  background: #1c1c1c;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.social-icon:hover {
  background: #f7c01b;
  color: #1c1c1c;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin: 10px 0;
    text-align: center;
  }

  .footer-section ul {
    padding-left: 0;
  }
  .footer-section h2 {
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(226, 226, 213);
  }

  .footer-section .underline {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #f7c01b;
    margin: 5px auto 0;
  }
  
}
