body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
  }
  
  .login-page, .signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: rgba(198, 198, 198, 0.292);
  }
  
  .login-container, .signup-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 10px 300px rgba(0, 0, 0, 0.563);
    max-width: 400px;
    width: 100%;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  