
.first-page {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-image: url('../assets/bgd1.png');
    background-size: cover;
   
  }
  
  .first-page-content {
    max-width: 600px;
  }
  
  .first-page-content h1 {
    font-size: 2.5rem;
    color: #ffff;
  }
  
  .first-page-content p {
    font-size: 1.2rem;
    color: #eae4e4;
    margin: 20px 0;
  }
  
  .cta-button {
    background-color: #f7c01b;
    color: rgb(154, 147, 147);
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .resume-count {
    margin-top: 10px;
    font-size: 1rem;
    color: #ffff;
  }
  
  .resume-examples {
    display: flex;
    align-items: center;
  }
  
  .resume-examples img {
    width: 200px;
    margin-left: 20px;
    color: white;
  }
  